<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Nunito&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Nunito&family=Pacifico&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Nunito&family=Pacifico&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/landingPageStyle.css" />
    <title>Glovia | Home</title>
    <link rel="icon" href="/img/logo.png" type="image/gif">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img src="/img/Website Logo.png" id="website-logo">
        <h1 class="main-text1">Glovia</h1>
        </div>
        <ul class="navbar-links">
          <li><a href="/" class="period-tracker">Home</a></li>
          <li><a href="/tracker" class="period-tracker">Period Tracker</a></li>
          <li><a href="/pamperBooth" class="pamper-booth">Pamper Booth</a></li>
          <li><a href="/forum" class="forum">Forum</a></li>
          <li><a href="/blog" class="period-tracker">Blog</a></li>
          <li><a href="/products" class="shop">Shop</a></li>
        </ul>
        <button class="start-here">
          <a style="text-decoration: none" href="/login">Start Here</a>
        </button>
      </div>

      <div class="hero-section">
        <div class="corner-bg-blue-div">
          <div class="hero-heading">
            One Stop Solution For All Your Menstrual Needs
          </div>
          <div class="hero-text">
            Glovia is a website created uniquely for females to track their
            periods, notify their loved ones about their mood, discuss and chat
            with other females for common menstrual issues and shop for
            menstrual hygiene products.
          </div>
          <div></div>
        </div>
        <div>
          <img src="/img/girl1.png" class="hero-image"> 
        </div>
      </div>

      <div class="our-services-section">
        <div>
          <p class="our-services-heading">Our Services</p>

          <img src="/img/period-tracker-icon.png" class="period-tracker-icon" />
          <img src="/img/secure-forum-icon.png" class="secure-forum-icon" />
          <img src="/img/pamper-booth-icon.png" class="pamper-booth-icon" />
          <img src="/img/shop-icon.png" class="shop-icon" />
          

          <p class="period-tracker-heading small-heading">Period Tracker</p>
          <p class="secure-forum-heading small-heading">Secure Forum</p>
          <p class="pamper-booth-heading small-heading">Pamper Booth</p>
          
          <p class="shop-heading small-heading">Shop</p>
          <div>
          <p class="period-tracker-text small-text">
          Our Period tracker helps women to keep a track of their menstrual cycle and also offers them to edit their cycle or period length. 
          </p>
          <p class="pamper-booth-text small-text">
            In Pamper Booth we offers two unique features. Spotify playlist is based on mood you have for the day, it automatically send email and messages to ur loved ones.                                     
          </p>
        </div>
        <div>
          <p class="secure-forum-text small-text">
            Our team has come up with a Discussion Forum, a custom built API, which is powered by machine learning where profane words have been censored. This feature will help connect women and share their views and thoughts with each other.
          </p>
          <p class="shop-text small-text">
            Our team has also come up with a shopping platform for excellent quality sanitary napkins, pantyliners, menstrual cups, tampons, intimate washing solutions etc at the best price.
          </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
